<header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
				THE AMERICAN COLLEGE
			 </div>
               <div class="menu">
                <ul>
					<li><a href="/nk/main">Home</a></li>
					<li><a href="/nk/login">Login</a></li>
					<li><a href="/nk/register">Register</a></li>
					<li><a href="/nk/logout">Logout</a></li>
				 </ul>
               </div>
            </nav>
</header>
