<% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <h1>Department Master</h1>
    <div class="login">
       <form  action="/nk/add_department" method="post">
         <div class="alignment">
				    <label> Department Name </label>
               <input type="text" name="departmentname">
          </div>
          <div class="loginButtonSMa">
               <input type="submit"  value="submit">
          </div>
     </form>
</div>
<div class="tab">
		<div class="container">
			<div class="wrapTable">
				<div class="table100">
                        <table>
                          <thead>
                             <tr class="table100-head">
                                <th class="column1">Country name</th>
                                <th class="column2">Update</th>
                                <th class="column3">Delete</th>
                             </tr>
                          </thead>
                        <% dept.forEach(function(dep){ %>
                          <tbody>
                             <tr>
                                <td class="column1"><%= dep.departmentname %></td>
                                   <td class="column2">
                                   <div class="stateMasterButton01">
                                     <a href="/nk/department/edit/<%= dep._id%>">Edit</a>
                                </div>
                                </td>
                                <td class="column3">
                                  <div class="stateMasterButton01">
                                   <a href="/nk/department/delete/<%= dep._id%>">delete</a>
                                   </div>
                                </td>
                             </tr>
                        </tbody>
                  <% }); %>
              </table>
          </div>
      </div>
  </div>
</div>
</body>
</html>
