<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE HTML>
<html>
<head>
	<title>Register</title>
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/style/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="/script/script.js"></script>


<body>
  <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  THE AMERICAN COLLEGE
               </div>
               <div class="menu">
				<ul>
					<li><a href="/nk/main">Home</a></li>
					<li><a href="/nk/login">Login</a></li>
					<li><a href="/nk/register">Register</a></li>
					<li><a href="/nk/logout">Logout</a></li>
				 </ul>
               </div>
            </nav>
         </header>
  <div class="heading">
  <h1>Register</h1>
  </div>

  <div class="login">
  <form  action="/nk/register" method="post">
    <div class="alignment">
		  <label> First Name </label>
         <input type="text" name="firstname" placeholder="Enter firstname">
    </div>
    <div class="alignment">
		  <label> Last Name </label>
          <input type="text" name="lastname" placeholder="Enter lastname">
    </div>
    <div class="alignment">
				<label>  username </label>
            <input type="text" name="username" placeholder="Enter username">
    </div>
    <div class="alignment">
				<label> Password </label>
            <input type="password" name="password" placeholder="Enter password">
    </div>
    <div class="loginButton">
        <input type="submit"  value="Register">
    </div>
  </form>
  </div>
</body>
</html>
